rnareplearn.egg-info/
build/
notebooks/runs
notebooks/.ipynb_checkpoints
5utr/**
snakemake/.snakemake

config/*
!config/base_configs
!config/grid_configs
!config/create_configs.py

RNARepLearn/__pychache__
